Chapter_13/flows/Customer_Support_Flow.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_New_SLA</name>
        <label>Assign New SLA</label>
        <locationX>946</locationX>
        <locationY>892</locationY>
        <assignmentItems>
            <assignToReference>Advertisement_record.SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Selected_SLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_new_ads_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SLA</name>
        <label>Assign SLA</label>
        <locationX>849</locationX>
        <locationY>481</locationY>
        <assignmentItems>
            <assignToReference>SLA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Advertisement_record.SLA__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Ads</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Ads</name>
        <label>Count Ads</label>
        <locationX>1044</locationX>
        <locationY>186</locationY>
        <assignmentItems>
            <assignToReference>Advertisement_Count</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_SLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_ads_list</name>
        <label>Create new ads list</label>
        <locationX>1108</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Update_Ads_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Advertisement_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Ads_2</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>SLA_Gold</name>
        <choiceText>Gold</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Gold</stringValue>
        </value>
    </choices>
    <choices>
        <name>SLA_Silver</name>
        <choiceText>Silver</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Silver</stringValue>
        </value>
    </choices>
    <choices>
        <name>Update_Customer_Data</name>
        <choiceText>Update customer data</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Update customer data</stringValue>
        </value>
    </choices>
    <choices>
        <name>Upgrade_SLA</name>
        <choiceText>Upgrade SLA</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Upgrade SLA</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_SLA</name>
        <label>Check SLA</label>
        <locationX>989</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>Iterate_Ads</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lower SLA (don&apos;t do anything)</defaultConnectorLabel>
        <rules>
            <name>Greater_SLA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>TemporaryAdvertisementSLAValue</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>SLAValue</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SLA</targetReference>
            </connector>
            <label>Greater SLA?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_a_customer</name>
        <label>Is a customer?</label>
        <locationX>556</locationX>
        <locationY>409</locationY>
        <defaultConnector>
            <targetReference>Mail_support_only</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not a customer</defaultConnectorLabel>
        <rules>
            <name>Account_is_customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Advertisement_Count</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Screen</targetReference>
            </connector>
            <label>Account is a customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Support_Options</name>
        <label>Support Options</label>
        <locationX>774</locationX>
        <locationY>613</locationY>
        <defaultConnector>
            <targetReference>Load_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update Account</defaultConnectorLabel>
        <rules>
            <name>SLA_Upgrade</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Support_Options_RadioGroup</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Upgrade_SLA</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SLA_Upgrade_screen</targetReference>
            </connector>
            <label>SLA Upgrade</label>
        </rules>
    </decisions>
    <formulas>
        <name>SLAValue</name>
        <dataType>Number</dataType>
        <expression>CASE({!SLA},
&apos;Gold&apos;, 3,
&apos;Silver&apos;, 2,
&apos;Copper&apos;, 1,
0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TemporaryAdvertisementSLAValue</name>
        <dataType>Number</dataType>
        <expression>CASE({!Advertisement_record.SLA__c},
&apos;Gold&apos;, 3,
&apos;Silver&apos;, 2,
&apos;Copper&apos;, 1,
0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Customer Support Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Support Flow</label>
    <loops>
        <name>Iterate_Ads</name>
        <label>Iterate Ads</label>
        <locationX>777</locationX>
        <locationY>213</locationY>
        <assignNextValueToReference>Advertisement_record</assignNextValueToReference>
        <collectionReference>Customer_Advertisements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Count_Ads</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Is_a_customer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Ads_2</name>
        <label>Iterate Ads (2)</label>
        <locationX>1031</locationX>
        <locationY>676</locationY>
        <assignNextValueToReference>Advertisement_record</assignNextValueToReference>
        <collectionReference>Customer_Advertisements</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_New_SLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Customer_Advertisements</name>
        <label>Customer&apos;s Active Advertisements</label>
        <locationX>492</locationX>
        <locationY>229</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Ads</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Customer_ID</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Advertisement__c</object>
        <sortField>Installation_Date__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Load_Account</name>
        <label>Load Account</label>
        <locationX>1053</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Customer_Data_Elm</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Selected_Customer_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Accound</name>
        <label>Update Accound</label>
        <locationX>1458</locationX>
        <locationY>558</locationY>
        <connector>
            <targetReference>Account_Updated_Screen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Load_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Ads</name>
        <label>Update Ads</label>
        <locationX>1338</locationX>
        <locationY>816</locationY>
        <connector>
            <targetReference>Sla_Update_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_Screen</targetReference>
        </faultConnector>
        <inputReference>Update_Ads_List</inputReference>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Account_Updated_Screen</name>
        <label>Account Updated Screen</label>
        <locationX>1529</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Selection_Header</targetReference>
        </connector>
        <fields>
            <name>Account_Updated_Title</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Account updated.&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Selection_Header</name>
        <label>Customer Selection</label>
        <locationX>271</locationX>
        <locationY>178</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Advertisements</targetReference>
        </connector>
        <fields>
            <name>Account_lookup</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Select Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Selected_Customer_ID</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_Customer_ID</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Selected_Customer_Name</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Display_Screen</name>
        <label>Display Screen</label>
        <locationX>573</locationX>
        <locationY>620</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Support_Options</targetReference>
        </connector>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;You have selected &lt;b&gt;{!Selected_Customer_Name} &lt;/b&gt;that has &lt;b&gt;{!Advertisement_Count}&lt;/b&gt; advertisements.&lt;/p&gt;&lt;p&gt;SLA level: {!SLA}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Gold_SLA_pic</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>GOLD_SLA_IMAGE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SLA</leftValueReference>
                    <operator>StartsWith</operator>
                    <rightValue>
                        <stringValue>Gold</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Silver_SLA_pic</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>SILVER_SLA_IMAGE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SLA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Silver</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Copper_SLA_pic</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>COPPER_SLA_IMAGE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>imageHeight</name>
                <value>
                    <stringValue>150px</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SLA</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Copper</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Support_Options_RadioGroup</name>
            <choiceReferences>Upgrade_SLA</choiceReferences>
            <choiceReferences>Update_Customer_Data</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Support Options</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>1442</locationX>
        <locationY>50</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Selection_Header</targetReference>
        </connector>
        <fields>
            <name>Error_message</name>
            <fieldText>&lt;p&gt;Something bad happened:&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(255, 0, 0);&quot;&gt;{!$Flow.FaultMessage}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Mail_support_only</name>
        <label>Mail support only</label>
        <locationX>152</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Selection_Header</targetReference>
        </connector>
        <fields>
            <name>invalid_support_text</name>
            <fieldText>&lt;p&gt;Current user is not a customer and doesn&apos;t have any phone support. &lt;/p&gt;&lt;p&gt;Support must be provided via mail to &lt;b style=&quot;color: rgb(0, 119, 255);&quot;&gt;support@amazingcorp.com&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sla_Update_Success</name>
        <label>Sla Update Success</label>
        <locationX>1326</locationX>
        <locationY>102</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Customer_Selection_Header</targetReference>
        </connector>
        <fields>
            <name>SLA_Updated_title</name>
            <fieldText>&lt;p&gt;&lt;b&gt;SLA updated on all ads ({!Selected_SLA}).&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SLA_Upgrade_screen</name>
        <label>SLA Upgrade</label>
        <locationX>782</locationX>
        <locationY>818</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Iterate_Ads_2</targetReference>
        </connector>
        <fields>
            <name>SLA_Upgrade_Title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;SLA Upgrade&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Selected_SLA</name>
            <choiceReferences>SLA_Gold</choiceReferences>
            <choiceReferences>SLA_Silver</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>SLA_Silver</defaultSelectedChoiceReference>
            <fieldText>Selected SLA</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Update_Customer_Data_Elm</name>
        <label>Update Customer Data</label>
        <locationX>1242</locationX>
        <locationY>596</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Accound</targetReference>
        </connector>
        <fields>
            <name>Update_customer_data_title</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Update customer data&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Account:&lt;b&gt; {!Load_Account.Name}&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Account_Address</name>
            <extensionName>flowruntime:address</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>city</name>
                <value>
                    <elementReference>Load_Account.BillingCity</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>country</name>
                <value>
                    <elementReference>Load_Account.BillingCountry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>postalCode</name>
                <value>
                    <elementReference>Load_Account.BillingPostalCode</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>province</name>
                <value>
                    <elementReference>Load_Account.BillingState</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>street</name>
                <value>
                    <elementReference>Load_Account.BillingStreet</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>addressLabel</name>
                <value>
                    <stringValue>Billing Address</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Load_Account.BillingCity</assignToReference>
                <name>city</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Load_Account.BillingCountry</assignToReference>
                <name>country</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Load_Account.BillingPostalCode</assignToReference>
                <name>postalCode</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Load_Account.BillingState</assignToReference>
                <name>province</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>Load_Account.BillingStreet</assignToReference>
                <name>street</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Account_Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Enter a Phone...</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>Load_Account.Phone</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Load_Account.Phone</assignToReference>
                <name>value</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>138</locationX>
        <locationY>39</locationY>
        <connector>
            <targetReference>Customer_Selection_Header</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Advertisement_Count</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>Advertisement_record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advertisement__c</objectType>
    </variables>
    <variables>
        <description>This could be an Account ID passed from a quick action</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Selected_Customer_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>Selected_Customer_Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>SLA</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Update_Ads_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advertisement__c</objectType>
    </variables>
</Flow>
