Chapter_10/flows/Raise_Advertisments_SLA_to_Gold.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Assign_SLA_Gold</name>
        <label>Assign SLA Gold</label>
        <locationX>679</locationX>
        <locationY>54</locationY>
        <assignmentItems>
            <assignToReference>Temp_Advertisement.SLA__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gold</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Set_Update_Ads_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Update_Ads_List</name>
        <label>Set Update Ads List</label>
        <locationX>581</locationX>
        <locationY>238</locationY>
        <assignmentItems>
            <assignToReference>Update_Ads_List</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Temp_Advertisement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Ads</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Raise Advertisments SLA to Gold {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Raise Advertisments SLA to Gold</label>
    <loops>
        <name>Iterate_Ads</name>
        <label>Iterate Ads</label>
        <locationX>466</locationX>
        <locationY>52</locationY>
        <assignNextValueToReference>Temp_Advertisement</assignNextValueToReference>
        <collectionReference>Get_Ads</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SLA_Gold</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Ads</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Ads</name>
        <label>Get Ads</label>
        <locationX>288</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Ads</targetReference>
        </connector>
        <filters>
            <field>Customer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account_ID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Advertisement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Ads</name>
        <label>Update Ads</label>
        <locationX>328</locationX>
        <locationY>257</locationY>
        <inputReference>Update_Ads_List</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Ads</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>Temp_Advertisement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advertisement__c</objectType>
    </variables>
    <variables>
        <name>Update_Ads_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Advertisement__c</objectType>
    </variables>
</Flow>
